<div class="row">
  <div class="col-10">
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Total Stocks</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%= friend.username %></th>
            <td><%= friend.email %></td>
            <td><%= friend.stocks.count %></td>
            <td><%= link_to 'Profile', user_path(friend), class: 'btn btn-sm btn-success ml-3' %>
                <%= link_to 'Unfollow', friendship_path(friend), method: :delete, class: 'btn btn-sm btn-danger ml-3',
                  data: { confirm: 'Are you sure ?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>