<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'Weaver', root_path, class: 'navbar-brand', id: 'logo' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav mr-auto">
        <li class="nav-item <%= 'active' if request.path == my_portfolio_path %>">
          <%= link_to 'Portfolio', my_portfolio_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if request.path == my_friends_path %>">
          <%= link_to "Friends", my_friends_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if request.path == market_stats_path %>">
          <%= link_to 'Market Stats', market_stats_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong><%= fa_icon 'user' %> <%=  current_user.username %></strong>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <%= link_to "View profile", my_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                Edit Profile <%= fa_icon('edit', class: 'edit-icon') %>
              <% end %>
              <%= link_to 'Logout', destroy_user_session_path, class: "dropdown-item", method: :delete %>
              <%= link_to 'Delete account', user_registration_path, class: "dropdown-item text-danger",
                  method: :delete, data: { confirm: "It's ok... we're not offended. Surely you didn't mean to do that. Now go ahead and hit 'Cancel'" } %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <strong><%= link_to 'Login', new_user_session_path, class: 'nav-link active' %></strong>
          </li>
          <li class="nav-item ml-2 mt-2">
            <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-sm btn-outline-success' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>